
@model PostModel

@{
    ViewData["Title"] = "Post List";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css" />
    
    <style>
        #postTable td {
            vertical-align: middle;
        }
    </style>
}

<div class="col-md-12">
    <table id="postTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Create Date</th>
                <th>Total Comments</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>

    <script>
        $(function () {
            $('#postTable').DataTable({
                "language": {
                    "infoFiltered": "",
                    searchPlaceholder: "Enter min 3 characters"
                },
                "processing": true,
                "serverSide": true,
                "ajax": "/Post/GetPosts",
                "columnDefs": [
                    {
                        "targets": 0,
                        "width": "40%",
                    },
                    {
                        "targets": 1,
                        "width": "20%",
                    },
                    {
                        "targets": 2,
                        "width": "20%",
                    },
                    {
                        "targets": 3,
                        "width": "20%",
                    }
                ]
            });

            // Search Delay Until input 3 character
            var dtable = $("#postTable").dataTable().api();
            $(".dataTables_filter input")
                .unbind()
                .bind("input", function (e) {
                    if (this.value.length >= 3 || e.keyCode == 13) {
                        dtable.search(this.value).draw();
                    }
                    if (this.value == "") {
                        dtable.search("").draw();
                    }
                    return;
                });
            // End

        });

    </script>

}
